# ===============================
# Virtual Environment
# ===============================
venv/

# ===============================
# Dataset (DO NOT upload images)
# ===============================
data/raw/
data/train/
data/val/
data/test/
data/processed/

# ===============================
# Python Cache
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Model Weights & Outputs
# ===============================
*.pt
*.pth
outputs/
runs/

# ===============================
# VS Code Settings
# ===============================
.vscode/

# ===============================
# System Files
# ===============================
.DS_Store
Thumbs.db
